unstructured
tiktoken
pinecone-client
pypdf
openai
langchain
pandas
numpy
langchain-openai
langchain_core
python-dotenv
streamlit
langchain_community
langserve
fastapi
uvicorn
sse_starlette
bs4
pypdf
chromadb
faiss-cpu
groq
cassio
wikipedia
arxiv
langchain_groq
boto3
langchainhub
PyPDF2
langchain_google_genai
pypdf
langchain_huggingface